

.dashbord {
    justify-content: space-between;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    
}

.dashbord:hover {
    box-shadow: 0 0 10px green;
}

